<div>
    <mat-card id="card" style="text-align: center;">
        <mat-card-title>
            My-Store
        </mat-card-title>
    
        <br/>

        <mat-card-content>
            <p>Projeto feito com Angular 10 e Material Design.</p>
            <br/>
            <br/>
            <div id="btmFooter" flex>
                <p>© 2020 My-Store.  All rights reserved.</p>
            </div>
    
        </mat-card-content>
    </mat-card>
</div>
