@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.example-form-field {
  width: 400px;
  height: 65px;
}

