<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/">My-Store</span>
    <span class="example-spacer"></span>
    <mat-form-field class="example-form-field">
      <mat-label>Pesquisar</mat-label>
      <input matInput type="text" #message maxlength="256">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
      Início
    </button>
    <button mat-button routerLink="/products" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>loyalty</mat-icon>
      Produtos
    </button>
    <button mat-button routerLink="/ranking" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>trending_up</mat-icon>
      Ranking
    </button>
    <button mat-button routerLink="/dashboard" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>leaderboarder</mat-icon>
      Dashboard
    </button>
    <button mat-button routerLink="/about" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>star</mat-icon>
      Sobre
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
