<div style="padding: 13px;">

    <mat-spinner style="text-align: center;" *ngIf="products.length === 0"></mat-spinner>

    <mat-card *ngFor="let product of products" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>R$ {{product.price}}</p>
            <!--<img style="height:80%; width: 60%;" src="{{ product.logo }}" />-->
            <img style="height:210px; width: 280px;" src="{{ product.image }}" />
            <p>
                Descrição do produto:
            </p>
            <p>peso: {{product.weight}} Kg</p>
            <p>comprimento: {{product.length}} cm</p>
            <p>altura: {{product.height}} cm</p>
            <p>largura: {{product.width}} cm</p>
            <p>estrelas: {{product.stars}}</p>
            <p>Frete gratis: {{product.freeShipping}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Ver loja</button>
        </mat-card-actions>
    </mat-card>
</div>

<div>
    <mat-card id="card" style="text-align: center;">
        <mat-card-content>
            <button (click)="firstPage()" mat-raised-button color="primary" style="margin-right:5px;">
                Primeiro
            </button>
            <button (click)="previousPage()" mat-raised-button color="primary" style="margin-right:5px;">
                Anterior
            </button>
            <button (click)="nextPage()" mat-raised-button color="primary" style="margin-right:5px;">
                Próximo
            </button>
            <button (click)="lastPage()" mat-raised-button color="primary" style="margin-right:5px;">
                Último
            </button>
        </mat-card-content>
    </mat-card>
</div>