<div style="padding: 13px;">
    <mat-spinner *ngIf="total_usuarios.length === 0"></mat-spinner>

    <mat-card id="card" style="text-align: center;" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>Total de usuários</mat-card-title>
            <mat-card-subtitle>Total desse mês</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Quantidade: {{total_usuarios}}
            </p>
        </mat-card-content>
    </mat-card>
</div>

<div style="padding: 13px;">
    <mat-spinner *ngIf="total_lojas.length === 0"></mat-spinner>

    <mat-card id="card" style="text-align: center;" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>Total de lojas ativas</mat-card-title>
            <mat-card-subtitle>Total desse mês</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Quantidade: {{total_lojas}}
            </p>
        </mat-card-content>
    </mat-card>
</div>

<div style="padding: 13px;">
    <mat-spinner *ngIf="total_produtos.length === 0"></mat-spinner>

    <mat-card id="card" style="text-align: center;" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>Total de produtos ativos</mat-card-title>
            <mat-card-subtitle>Total desse mês</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Quantidade: {{total_produtos}}
            </p>
        </mat-card-content>
    </mat-card>
</div>

<!--<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
        <mat-spinner *ngIf="total_usuarios.length === 0"></mat-spinner>

        <mat-card id="card" style="text-align: center;" style="margin-top:10px;">
            <mat-card-header>
                <mat-card-title>Total de usuários</mat-card-title>
                <mat-card-subtitle>Total desse mês</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Quantidade: {{total_usuarios}}
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-spinner *ngIf="total_lojas.length === 0"></mat-spinner>

        <mat-card id="card" style="text-align: center;" style="margin-top:10px;">
            <mat-card-header>
                <mat-card-title>Total de lojas ativas</mat-card-title>
                <mat-card-subtitle>Total desse mês</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Quantidade: {{total_lojas}}
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-spinner *ngIf="total_produtos.length === 0"></mat-spinner>

        <mat-card id="card" style="text-align: center;" style="margin-top:10px;">
            <mat-card-header>
                <mat-card-title>Total de produtos ativos</mat-card-title>
                <mat-card-subtitle>Total desse mês</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Quantidade: {{total_produtos}}
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>-->