<div style="padding: 13px;">
    <mat-card id="card" style="text-align: left;">
        <mat-card-title>
            <mat-form-field class="example-form-field">
                <mat-label>Pesquisar</mat-label>
                <input matInput type="text" #message maxlength="256">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </mat-card-title>
    </mat-card>

    <mat-spinner style="text-align: center;" *ngIf="products.length === 0"></mat-spinner>

    <mat-card *ngFor="let product of products" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>localização: {{product.cep}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <!--<img style="height:80%; width: 60%;" src="{{ product.logo }}" />-->
            <img style="height:210px; width: 280px;" src="{{ product.logo }}" />
            <p>
                Descrição da loja:
            </p>
            <p>cnpj: {{product.cnpj}}</p>
            <p>criado em: {{product.created}}</p>
            <p>ultima atualização: {{product.lastSyncDate}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Ver loja</button>
        </mat-card-actions>
    </mat-card>
</div>

<div>
    <mat-card id="card" style="text-align: center;">
        <mat-card-content>
            <button (click)="firstPage()" mat-raised-button color="primary" style="margin-right:5px;">
                Primeiro
            </button>
            <button (click)="previousPage()" mat-raised-button color="primary" style="margin-right:5px;">
                Anterior
            </button>
            <button (click)="nextPage()" mat-raised-button color="primary" style="margin-right:5px;">
                Próximo
            </button>
            <button (click)="lastPage()" mat-raised-button color="primary" style="margin-right:5px;">
                Último
            </button>
        </mat-card-content>
    </mat-card>
</div>