<div style="padding: 13px;">
    <mat-card id="card" style="text-align: center;">
        <mat-card-title>
            Ranking das lojas que mais venderam nesse mês
        </mat-card-title>
    </mat-card>

    <mat-spinner *ngIf="scores.length === 0"></mat-spinner>

    <!--<mat-card *ngFor="let score of scores?.results" style="margin-top:10px;">-->
    <mat-card *ngFor="let score of scores" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{score.ident}}</mat-card-title>
            <mat-card-subtitle>{{score.ident}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                A loja {{score.ident}} obteve {{score.count}} pontos
            </p>
        </mat-card-content>
    </mat-card>
</div>
